<form {{action this.attrs.onSave model on="submit"}}>
  {{text-field class="m-b-1" label="Name" value=pet.name}}

  {{yield (hash
    save=this.attrs.onSave
    cancel=this.attrs.onCancel
    destroy=this.attrs.onDestroy
  )}}
</form>
