<form {{action 'save' model on="submit"}}>
  {{pet-fields pet=model}}

  <button class="btn btn-primary">Save</button>
  <button {{action 'destroy' model}} class="btn btn-danger">
    Delete
  </button>
</form>
