{{#pet-form pet=model as |form|}}
  <button class="btn btn-primary">Save</button>
  <button {{action form.cancel}} class="btn btn-default">
    Cancel
  </button>
  <button {{action form.destroy}} class="btn btn-danger">
    Delete
  </button>
{{/pet-form}}
