{{#pet-form pet=model onSave=(route-action 'save' model) onDestroy=(route-action 'destroy' model) onCancel=(route-action 'cancel') as |form|}}
  <button class="btn btn-primary">Save</button>
  <button {{action form.cancel}} class="btn btn-default">
    Cancel
  </button>
  <button {{action form.destroy}} class="btn btn-danger">
    Delete
  </button>
{{/pet-form}}
